@media (hover: hover) {
    .bayan-wrapper {
        cursor: pointer;
    }

    .bayan-wrapper:hover>.bayan-img {
        margin: 3rem auto;
        height: 30rem;
        width: 25rem;
        opacity: 1;
        filter: blur(0);
    }

    .bayan-wrapper:hover>.bayan-head>.bayan-down-icon {
        transform: rotate(180deg);
        fill: white;
    }

    .bayan:hover svg {
        fill: white;
    }

    .bayan:hover h2 {
        color: white
    }
}

@media (hover: none) {
    .bayan-toggle:checked~.bayan-img {
        animation: none;
    }
}

@media only screen and (min-width: 64.5em) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 64.3em) {
    html {
        font-size: 40%;
    }

    .container {
        min-height: 111rem;
    }
}

@media only screen and (max-width: 43em) {
    .title {
        font-size: 5rem;
    }

    .container {
        max-width: 75vw;
    }

    .bayan-content {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 33em) {
    html {
        font-size: 40%;
    }

    .bayan-img {
        width: 21rem;
        height: 0;
    }

    .bayan-toggle:checked~.bayan-img {
        height: 25rem;
        width: 20rem;
    }

    .container {
        min-height: 106rem;
    }

    .bayan-content {
        font-size: 1.6rem;
    }
}