* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    /* 10px/16px = 62.5% -> 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 120rem;
    height: auto;
    margin: 10rem auto;
}

.bayan-wrapper {
    margin-top: 1.5rem;
    min-width: 70vw;
    min-height: .5rem;
}

.bayan-toggle {
    display: block;
    min-width: 100%;
    min-height: 1rem;
    opacity: 0;
}

.bayan-content {
    font-size: 2rem;
}

.bayan-img {
    display: block;
    margin: 0 auto;
    width: 25rem;
    height: 0;
    opacity: 0;
    transition: .5s all;
}

.bayan-toggle:checked~.bayan-img {
    height: 30rem;
    width: auto;
    opacity: 1;
}

.bayan-wrapper:hover>.bayan-img {
    height: 30rem;
    width: auto;
    opacity: 1;
}

.bayan-wrapper:hover {
    cursor: pointer;
}